// THIS IS GENERATED CODE

// don't edit here


{{#definitions}}
export type {{&name}} = {{#tsType}}{{> type}}{{/tsType}}
{{/definitions}}

export interface CustomRequestMethod {
  request(method: string, protocol: string, domain: string, port:number, path: string, queryParameters: any, body: any, headers: any, form: any, reject: Function, resolve: Function):void
}

export abstract class {{&className}} implements CustomRequestMethod {
  public domain: string
  public port: number
  public protocol: string

  constructor(host: string, port:number = 80, protocol:string = "http") {
    this.domain = host
    this.port = port
    this.protocol = protocol
  }

  // you must overwrite request. You're guided by the interface to the right function signature
  // this.request = function (method: string):void {
  // }
  request(method: string, protocol: string, domain: string, port:number, path: string, queryParameters: any, body: any, headers: any, form: any, reject: Function, resolve: Function):void {
    throw "not implemented"
  }

{{#methods}}
  {{> method}}

{{/methods}}
}
