{{#tsType}}
{{! must use different delimiters to avoid ambiguities when delimiters directly follow a literal brace {. }}
{{=<% %>=}}
<%#isRef%><%target%><%/isRef%><%!
%><%#isAtomic%><%&tsType%><%/isAtomic%><%!
%><%#isObject%>{
<%#properties%> <%!
%> '<%name%>': <%>type%><%/properties%>}<%/isObject%><%!

%><%#isArray%>Array<<%#elementType%><%>type%><%/elementType%>><%/isArray%><%!
%><%#isArray%>// sorry! cant fix this newline formatting problem... <%/isArray%>
<%={{ }}=%>
{{/tsType}}